* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    font-weight: 600;
}

body {
    scroll-behavior: smooth;
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4E5150;
}

#main-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

#head h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #4E5150;
    margin: 1.5rem 0rem;
}

#semi-container {
    background: #F2F2F2;
    width: 300px;
    float: right;
    border-radius: 15px;
    padding: 20px;
}



.item-img-div {
    overflow: hidden;

}
.item-image {
    border-radius: 10px;
    width: 35%;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.item-name-div > P {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.item-name-div > .yellow {
    color: orange;
}

.item-name-div p > span {
    text-decoration: line-through;
    color: #4E5150;
    margin-left: 10px;
}

#final-checkout-container  > p {
    padding: 10px;
}

#final-checkout-container > .right{
    float: right;
    margin-top: -35px;
}

.add-item {
    border: 1px solid black;
    width: 50px;
    padding: 5px;
    text-align: center;
}

.input-size-cart {
    width: 50%;
    margin: 0 auto;
}

#left-container {
    width: 60%;
}

#contact-container {
    margin-bottom: 30px;
}

#contact-container > h3 {
    margin-bottom: 20px;

} 

#shipping-container > h3 {
    margin-bottom: 15px;
    font-size: 1rem;
}

#contact-container,#shipping-container > p {
    font-size: 0.9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact-container > input {
    width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    padding: 3px;
    height: 30px;
    border-radius: 5px;
    border-color: #f2f2f2;
} 

#shipping-container > input {
    width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    padding: 3px;
    height: 30px;
    border-radius: 5px;
    border-color: #f2f2f2;
}

button {
    margin: 0 auto;
    background-color: #F2994A;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    margin: 0 auto;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}

#footer {
    padding-top: 40px;
    padding-bottom: 15px;
}
#footer, a {
    text-align: center;
    color: lightgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
}

@media only screen and (max-width: 680px) {
    #semi-container {
        float: left;
        margin-bottom: 30px;
    }
    :root {
        font-size: 12px;
    }

}